@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.app {
  font-family: "Poppins", sans-serif;
  font-size: 12;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.custom-headline {
  font-weight: bold;
  font-size: 14px !important;
}
.custom-label {
  font-size: 8px !important;
}
.custom-text {
  font-size: 6px !important;
}
.custom-small-text {
  font-size: 4px !important;
}
.logo-img {
  width: 2;
  height: 2.5rem;
}

@media screen and (min-width: 300px) {
  .custom-headline {
    font-weight: bold;
    font-size: 16px !important;
  }
  .custom-label {
    font-size: 10px !important;
  }
  .custom-text {
    font-size: 8px !important;
  }
  .custom-small-text {
    font-size: 6px !important;
  }
  .logo-img {
    width: 2;
    height: 2.5rem;
  }
}

@media screen and (min-width: 576px /*  max-width: 768px */) {
  .custom-headline {
    font-weight: bold;
    font-size: 18px !important;
  }
  .custom-label {
    font-size: 16px !important;
  }
  .custom-text {
    font-size: 12px !important;
  }
  .custom-small-text {
    font-size: 8px !important;
  }
  .search-icon,
  .filter-icon {
    size: 2;
  }
  .logo-img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (min-width: 768px/* max-width: 992px */) {
  .custom-headline {
    font-weight: bold;
    font-size: 22px !important;
  }
  .custom-label {
    font-size: 18px !important;
  }
  .custom-text {
    font-size: 14px !important;
  }
  .custom-small-text {
    font-size: 10px !important;
  }
  .logo-img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (min-width: 992px/* max-width: 1200px */) {
  .custom-headline {
    font-weight: bold;
    font-size: 24px !important;
  }
  .custom-label {
    font-size: 18px !important;
  }
  .custom-text {
    font-size: 14px !important;
  }
  .custom-small-text {
    font-size: 12px !important;
  }
  .logo-img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (min-width: 1200px/* max-width: 1200px */) {
  .custom-headline {
    font-weight: bold;
    font-size: 22px !important;
  }
  .custom-label {
    font-size: 16px !important;
  }
  .custom-text {
    font-size: 14px !important;
  }
  .time-text {
    font-size: 10px !important;
  }
  .logo-img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.pageNotFoundText {
  text-align: center;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
