.form {
  background-color: #bbdaff;
  padding: 10px;
}

.btn {
  background-color: rgb(6, 46, 83);
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.btn:hover {
  background-color: rgb(6, 46, 83, 0.4);
  color: white;
  border-radius: 5px;
  padding: 5px;
}
