.logo {
  display: flex;
  justify-content: center !important;
}

.dropdown-custom {
  justify-content: end;
}
.btn-custom {
  color: #e47521 !important;
  border: none;
}
.btn-custom:hover {
  color: rgb(228, 117, 33, 0.4) !important;
  border: none;
}

.nameContainer {
  font-family: "Kaushan";
  font-style: italic;
  text-align: center;
  color: #e47521;
}

#dropdown-basic::before {
  display: none;
}

.btn-custom:active,
.open,
.btn-custom {
  font-size: 48px;
  background-color: #062e53 !important;
}

.user-name-display {
  overflow-wrap: break-word;
}
