.logo {
  display: flex;
  justify-content: center !important;
}

.logo-img {
  width: 5vw;
  height: 5vw;
}

.hamburger-img {
  width: 4vw;
  height: 8vh;
}
.dropdown-custom {
  justify-content: end;
}

.nameContainer {
  font-family: "Kaushan";
  font-style: italic;
  text-align: center;
  color: #e47521;
}

@media screen and (max-width: 0px) {
  .logo {
    display: flex;
    justify-content: end !important;
  }
  .logo-img {
    width: 40vw;
    height: 40vh;
  }
}

/* logo initial values width: 140px;
    height: 45px;*/
