.logo {
  display: flex;
  justify-content: center !important;
}

.logo-img {
  width: 7vw;
  height: 7vw;
}

/* .hamburger-img {
  width: 4vw;
  height: 8vh;
} */
.dropdown-custom {
  justify-content: end;
}
.btn-custom {
  /*  background-color: #e47521 !important; */
  color: #e47521 !important;
  /* border-color: rgb(6, 46, 83) !important; */
  border: none;
}
.btn-custom:hover {
  /*  background-color: rgb(228, 117, 33, 0.4) !important; */
  color: rgb(228, 117, 33, 0.4) !important;
  /*  border-color: rgb(6, 46, 83, 0.4) !important; */
  border: none;
}

.nameContainer {
  font-family: "Kaushan";
  font-style: italic;
  text-align: center;
  color: #e47521;
}

#dropdown-basic::before {
  display: none;
}

/* .header-btn-txt {
  font-size: 48px;
} */
.btn-custom:active,
.open,
.btn-custom {
  font-size: 48px;
  background-color: #062e53 !important;
}
/* 
@media screen and (min-width: 600px) {
  .logo {
    display: flex;
    justify-content: end !important;
  }
  .logo-img {
    width: 40vw;
    height: 40vh;
  }
  /*   .hamburger-img {
    width: 8vw;
    height: 6vh;
  } 
}
 */
