.listContainer {
  border: 2px solid rgb(6, 46, 83);
  border-radius: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.accept-btn {
  background-color: rgb(6, 46, 83) !important;
  border-radius: 5px;
  padding: 5px;
  font-size: x-small;
}
.accept-btn:hover {
  background-color: rgba(6, 46, 83, 0.4) !important;
  border-radius: 5px;
  padding: 5px;
  font-size: x-small;
}

.decline-btn {
  background-color: rgb(228, 117, 33) !important;
  border-radius: 5px;
  padding: 5px;
  font-size: x-small;
}

.decline-btn:hover {
  background-color: rgba(228, 117, 33, 0.4) !important;
  border-radius: 5px;
  padding: 5px;
  font-size: x-small;
}

.user-list {
  align-content: flex-start;
  height: 20vh;
  padding-left: 0vw;
}

.conversationUserListRow {
  justify-content: space-between;
  height: 35vh;
}

.scroll-container {
  overflow-y: auto;
}

.invited-to-list {
  height: 20vh;
  padding-left: 0vw;
}

.conversation-list {
  height: 20vh;
}

message-list {
  height: 50vh;
}

.userNameDropdown-btn {
  background-color: white;
  color: black;
  border: none;
}

.userNameDropdown-toggle {
  background-color: white;
  color: black;
  border: none;
}

.custom-toggle {
  color: rgb(6, 46, 83);
}
.headlineContainer {
  text-align: center;
}

.create-btn {
  background-color: rgb(6, 46, 83);
}

.create-btn:hover {
  background-color: rgb(6, 46, 83, 0.4) !important;
}

.li {
  padding-left: 0;
}

.invitationsHeadline {
  text-align: center;
}

.userlist-admin {
  color: rgb(228, 117, 33) !important;
}

@media screen and (max-width: 600px) {
  .body {
    font-size: 10px;
  }
  .custom-label {
    font-size: 12px !important;
  }
  .custom-text {
    font-size: 9px !important;
  }
  .custom-headline {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 800px) {
  .body {
    font-size: 10px;
  }
  .custom-label {
    font-size: 14px !important;
  }
  .custom-text {
    font-size: 12px !important;
  }
  .custom-headline {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 1200px) {
  .body {
    font-size: 10px;
  }
  .custom-label {
    font-size: 16px !important;
  }
  .custom-text {
    font-size: 14px !important;
  }
  .custom-headline {
    font-size: 22px !important;
  }
}
