.listContainer {
  border: 2px solid rgb(6, 46, 83);
  border-radius: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.accept-btn {
  background-color: rgb(6, 46, 83) !important;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.4rem !important;
}
.accept-btn:hover {
  background-color: rgba(6, 46, 83, 0.4) !important;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.4rem !important;
}

.decline-btn {
  background-color: rgb(228, 117, 33) !important;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.4rem !important;
}

.decline-btn:hover {
  background-color: rgba(228, 117, 33, 0.4) !important;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.4rem !important;
}

.create-btn {
  background-color: rgb(6, 46, 83) !important;
  border-radius: 5px;
  padding: 5px;
  font-size: x-small;
}
.create-btn:hover {
  background-color: rgba(6, 46, 83, 0.4) !important;
  border-radius: 5px;
  padding: 5px;
  font-size: x-small;
}

.user-list {
  align-content: flex-start;
  height: 25vh;
  padding-left: 0vw;
}

/* .conversationUserListRow {
  height: 20vh;
} */

.scroll-container {
  overflow-y: auto;
}

.invited-to-list {
  height: 20vh;
  padding-left: 0vw;
}

.conversation-list {
  height: 10vh;
}

.admin-conversation-list {
  height: 20vh;
}

.banned-list {
  height: 10vh;
}

.message-list {
  height: 50vh;
}

.userNameDropdown-btn {
  background-color: white;
  color: black;
  border: none;
}

.userNameDropdown-toggle {
  background-color: white;
  color: black;
  border: none;
}

.custom-toggle {
  color: rgb(6, 46, 83);
}
.headlineContainer {
  text-align: center;
}

.create-btn {
  background-color: rgb(6, 46, 83);
}
.custom-label,
.invitation-item {
  text-align: left;
}

.invitationsHeadline {
  text-align: center;
}

.userlist-admin {
  color: rgb(228, 117, 33) !important;
}

.user-list-item:hover {
  cursor: pointer;
}
